<footer class="bg-light text-center text-lg-start">
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <section class="contact d-flex justify-content-center align-items-center">
        <h6 class="p-2">Contacto:</h6>
        <h6> +54 9 3496 440049</h6><i class="fa-brands fa-whatsapp px-2 mb-2"></i>
        <h6> - henares.jose.luis@gmail.com</h6><i class="fa-regular fa-envelope px-2 mb-1"></i>
      </section>
      <p class="fst-italic">Copyright © 2022 • Henares Soluciones Energéticas Renovables</p>
    </div>
    
  </footer>